.bodyContainer {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 30px;
  /* height: 100vh; */
  overflow: hidden;
  position: relative;
}


.appContainer {
  background: #ffd700;
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.loginContainer {
  height: 100vh;
  /* background-image: linear-gradient(#8360c3, #2ebf91); */
  background-image: linear-gradient(to right, #0f0c29, #302B63, #24243e);
  display: grid;
  align-items: center;
  justify-content: center;
}